<h1>Info</h1>
<hr>
<table>
  <tbody>
    <tr>
      <td><strong>App Name</strong></td>
      <td><strong><%= @app %></strong></td>
    </tr>
    <tr>
      <td>App Version</td>
      <td><%= @version %></td>
    </tr>
    <tr>
      <td>Rails Version</td>
      <td><%= @rails %></td>
    </tr>
    <tr>
      <td>Ruby Version</td>
      <td><%= @ruby %></td>
    </tr>
    <tr>
      <td>Rails Environment</td>
      <td><%= @env %></td>
    </tr>
    <tr>
      <td>Rails Database</td>
      <td><%= @adapter %></td>
    </tr>
    <tr>
      <td>Host</td>
      <td><%= @host %></td>
    </tr>
    <tr>
      <td>Host IP</td>
      <td><%= @ip %></td>
    </tr>
    <tr>
      <td>Remote IP</td>
      <td><%= @remote_ip %></td>
    </tr>
    <tr>
      <td>Current Time</td>
      <td><%= @time %></td>
    </tr>
  </tbody>
</table>
<br/>
<div>
  <%= link_to 'Boards', boards_path %>
  <%= link_to 'Posts', posts_path %>
</div>
